body {
    background-color: #007bff;
    font-size: 18px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

h2 {
    font-size: 28px;
    color: white;
}

h3 {
    font-size: 22px;
    color: white;
}

ul {
    font-size: 20px;
    color: white;
}

p {
    font-size: 20px;
    color: white;
}

li {
    margin-bottom: 8px;
}